absl-py
altgraph
colorama
contourpy
cycler
et-xmlfile
fonttools
future
iniconfig
kiwisolver
libclang
matplotlib
numpy
opencv-python
openpyxl
packaging
pandas
pefile
Pillow
pluggy
pyinstaller
pyinstaller-hooks-contrib
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
pytest
python-dateutil
pytz
pywin32-ctypes
scipy
six
tzdata
urllib3
