absl-py==1.2.0
altgraph==0.17.2
cycler==0.11.0
fonttools==4.33.3
future==0.18.2
kiwisolver==1.4.2
libclang==14.0.1
matplotlib==3.5.2
numpy==1.21.6
opencv-python==4.5.5.64
packaging==21.3
pandas==1.4.3
pefile==2022.5.30
Pillow==9.1.1
pyinstaller==5.2
pyinstaller-hooks-contrib==2022.8
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
python-dateutil==2.8.2
pytz==2022.1
pywin32-ctypes==0.2.0
six==1.16.0
urllib3==1.26.10
